<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Add your own DSN below to see the event in Sentry-->
    <add key="SentryDsn" value="https://5fd7a6cda8444965bade9ccfd3df9882@sentry.io/1188141"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>